*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "SF Pro";
  src: url("../assets/SF-Pro-Display-Regular.otf");
}

body {
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
  --dark-grey: #1a1a1a;
  --grey: #404040;
  background-color: var(--dark-grey);
  color: white;
}

.main {
  padding: 50px;
  display: flex;
  gap: 60px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.section-list {
  padding: 0 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs {
  min-width: 550px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container:has(#location) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input-container > input {
  background-color: var(--grey);
  border: none;
  padding: 15px 7px;
  border-radius: 5px;
  color: white;
}

.preview-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cv-preview {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  font-size: 11px;
  aspect-ratio: 1 / 1.4;
  gap: 10px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 17px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: end;
  gap: 5px;
}

.name > p {
  padding-bottom: 4px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.entry > p {
  display: flex;
  justify-content: space-between;
}

.entry > ul {
  list-style: disc !important;
  list-style-type: circle !important;
}
